@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
html,
body {
  
    font-family: 'Ubuntu'!important;
    overflow-x: hidden;

  }

.navbar{
    position: absolute;
    height: 100px;
    background: #FFFFFF;
    top: -9px;  
}
.print{
    position: relative;
    left:23px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    
    border-top: 1px solid rgba(0,0,0,.1);
}
.stages{
    position: absolute;
    top:85px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
}
.stages p strong{
padding-right:20px;
}
.content{
    background: #EAEAF5;
    height:630px;
    width:1380px;
    position: relative;
    top:-15px;
    display:flex;
    flex-wrap: wrap;
}
.intro {
    position: absolute;
width: 600px;
height: 50px;
left: 160px;
top: 80.31px;
background: #FFFFFF;
border-radius: 4px;
}
.intro p{
    font-size: 16px;
line-height: 18px;
text-align: left;
position: relative;
left:40px;
top:13px;
}
.intro img{
    left:280px;
    position: relative;
}
.form-house{
    position: absolute;
width: 600px;
height: 292px;
left: 160px;
top: 190.31px;
background: #FFFFFF;
border-radius: 4px;
}
.fullname{
    width:500px;
    height:40px;
    position: absolute;
left: 10%;
right: 0%;
top: 65%;
bottom: 0%;
border-radius: 4px;
border: 1px solid #C9D6DF;
}
.label-full-name{
    font-size: 16px;
line-height: 18px;
position: relative;
top:40px;
left:47px;
}
.label-email{
    font-size: 16px;
line-height: 18px;
position: relative;
top:-30px;
left:53px;
}
.label-phone{
    font-size: 16px;
line-height: 18px;
position: relative;
top:-30px;
left:67px;
}
.details{
    display:flex;
    position: relative;
    top:150px;
    left:190px;
}
.number{
    position: relative;  
    left:320px;
}
.email-phone{
    position: relative;  
     top:160px;
left:-17px;
}
.email-phone input{
    border-radius: 4px;
    border: 1px solid #C9D6DF; 
    height:40px;
}
.phone{
    position: relative;  
    left:10px;
}
.right-side{
    background-color: #ffffff;
    width: 240px;
    height: 190px;
    top: 80px;
    position:relative;
    left:-10px;
    text-align: center;
}
.row{
    display:flex;
}
.total{
    font-weight: 500;
font-size: 23px;
line-height: 100.23%;
position: relative;
top:10px;
}
.price{
position: relative;
top:1px;
font-size: 40px;
font-weight: 900;
line-height: 100.23%;
}
.no{
    font-size: 17px;
    line-height: 100.23%;
}

.btn-primary:hover {
background-color: #28B446;
}

.btn {
    width:170px;
}

.btn:hover {
    background-color: #28B446;
}
.rightdown-side{
    background-color: #ffffff;
    width: 240px;
    height: 80px;
    top: 100px;
    position:relative;
    left:-10px;
}

#val4 {
    text-decoration: none;
    color: #000000;
}

#bound{
    display:flex;
    justify-content: space-around;
}

#partition{
    position: relative;
    top:-27px;
}

#stop{
    position: relative;
    top:-34px;
    font-size: 13px;
    width:170px;
    margin-left: 20px;
}

#from-pass, #to-pass, .junction {
    text-decoration: none;
    color: #52616B;
    font-size: 12px;
}

#total--price {
    color: #000000;
    text-decoration: none;
}


#val2 {
    color: #000000;
    text-decoration: none;
}
span{
    text-decoration: underline;
    color:#518EF8;
}
.back{
    width:85px;
    height: 40px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    top: 310px;
    position:relative;
}
#backlink{
    display:flex;
    justify-content: center;
    color:black;
    position: relative;
    top:5px;
}
#backlink:hover{
    text-decoration: none;
}

@media(max-width:1024px){
    .right-side, .rightdown-side{
        width:200px;
        left:-130px;
    }
}
 @media(max-width:768px){
    .col-lg-8{
        width:400px;
    }
    .intro{
        width:350px;
    }
    .intro img{
        left:80px;
    }
    .number{
        left:120px;
    }
    .form-house{
        width:350px;
    }
    .fullname{
        width:300px;
        left:-30px;
        top:60px;
    }
    .email{
        left:-100px; 
        position: relative;
        width:150px;
    }
    .phone{
        left:70px;
        top:-40px;
        width:150px;
    }
    .label-phone{
        left:170px;
        top:-70px;
    }
    .label-email{
        left:20px;
    }
   
    .right-side, .rightdown-side{
        width:200px;
        left:-150px;
    }
    .back{
        top:230px;
    }
 
}

@media(max-width:425px){
    .col-lg-8{
        width:300px;
        left:-130px;
    }
    .intro{
        width:250px;
    } 
    .intro img{
        left:1px;
    }
    .intro p{
        left: 5px;
    }
    .number{
        left:20px;
    }
    .form-house{
        width:250px;
    }
    .fullname{
        width:200px;
    }
    .phone{
        left:80px;
        top:-65px;
        width:100px;
    }
    .label-full-name{
        left:20px;
    }
    .label-email{
        left:-10px;
    }
    .label-phone{
        left:110px;
        top:-60px;
    }
    .email{
        width:100px; 
    }
    .right-side, .rightdown-side{
        width:150px;
        left:-410px;
    }
.btn-primary{
    width:100px;
}

}
@media(max-width:375px){
    .col-lg-8{
        width:300px;
        left:-130px;
    }
    .intro{
        width:200px;
    }   
.intro p{
    left:10px;
}
.number{
    left:-10px;
}
.p-detail{
    left:-20px; 
    position: relative; 
}
.form-house{
    width:200px;
}
.fullname{
    width:180px;
    left:-40px;
}
.number{
font-size: 12px;
}
.phone{
    left:50px;
    top:-70px;
    width:80px;
}
.label-full-name{
    left:-10px;
}
.email{
    width:80px;
    top:-3px; 
    left:-50px;
}
.label-phone{
    left:60px;
    top:-70px;
}
.label-email{
    left:-30px; 
    top:-5px;
}
.right-side, .rightdown-side{
    width:150px;
    left:-470px;
}

}
@media(max-width:320px){
    .right-side, .rightdown-side{
        width:120px;
        left:-470px;
     
    }
    .intro p{
        left:10px;
        font-size:10px;
    }
    .number{
        left:-10px;
        font-size:13px;
    }
    .total,.price{
        font-size: 19px;
    }
    #bound{
        font-size: 15px;
        width:95px;
    }
    .btn-primary{
        width:90px;
    }

}


/* media query above */