@media (max-width: 1024px) {
    .choose-trip {
        border: 1px solid #ffffff;
        height: 14rem;
        width: 44rem;
        margin-right: 02px;
        margin-top: 3rem;
      }

      .hero {
        height: 60vh;
      }
}


@media (max-width: 992px) {
    .choose-trip {
        border: 1px solid #ffffff;
        height: 14rem;
        width: 47rem;
        margin-right: 02px;
        margin-top: 3rem;
      }

      .form-btn {
        background-color: #2196F3;
      /* margin-left: 10px; */
      margin-top: 27px;
      padding: 6px 33px;
    }

    .span-img {
        /* background-color: #52616B; */
        position: absolute;
        /* padding-left: 40px; */
      left: 05px;
       /* top: 30px; */
        
    }
  

      .top-body {
        text-align: center;
        display: block;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .trip-header {
        padding-top: 02rem;
        padding-bottom: 02rem;
        margin-top: 30px;
    }

      .footer-logo {
        text-align: center
    }

    .footer-text {
        text-align: center;
        padding-top: 20px;
    }

    .footer-container {
        padding-top: 0px;
    }

    .form-right {
        margin-left: 90px;
    }

    .form-control {
        width: 70% !important;
        position: absolute; 
     }

     
}


@media (max-width: 768px) {
    
    .hero{
        height: 130vh;
       }

       .trip-header-top {
        margin-top: 320px;
    }

    .choose-trip {
        border: 1px solid #ffffff;
        height: 30rem;
        width: 30rem;
        margin-left: 10px;
        margin-top: 04rem;
        background-color: #ffffff;
        align-content: center;
      }

      .top-body {
        text-align: center;
        display: block;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }

    /* .form-btn {
        background-color: #2196F3;
        /* margin-left: 25px; */
        /* margin-right: 10px !important; */
        /* margin-top: 27px;
        padding: 6px 10px;
        border: none;
        border-radius: 4px; */ 
        .form-btn {
            padding: 6px 105px;
        }

    .trip-header {
        padding-top: 02rem;
        padding-bottom: 02rem;
        margin-top: 25px;
    }
    

    .form-control {
       width: 75% !important;
       position: absolute; 
    }

    .footer-logo {
        text-align: center;

    }

    .logo-footer {
        width: 100px;
        margin-top: 20px;
    }

    .footer-text {
        text-align: center;
        padding-top: 20px;
    }

    .footer-container {
        padding-top: 0px;
    }

    .form-control-lg{
        width: 14rem; 
    }

    .foot {
        padding-top: 0px;
    }

    .form-right {
        margin-left: 50px;
    }

    .form-group {
        margin-bottom: 1rem !important;
    }

    form {
        margin-left: 65px;
    }

    .form-inline {
        margin-left: 10px;
    }
}


@media (max-width: 576px) {
    .hero{
        
        height: 130vh;
       }

       .choose-trip {
        border: 1px solid #ffffff;
        height: 32rem;
        width: 25rem;
        margin-left: 40px;
        margin-top: 03rem;
        background-color: #ffffff;
        align-content: center;
      }

      .form-control {
        width: 75% !important;
        position: absolute;
        /* margin-left: 10px; */
  
        /* margin-left: 28px; */
    }

    .form-btn {
        padding: 6px 74px;
    }

    .top-body {
        text-align: center;
        display: block;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .trip-header-top {
        
        margin-top: 220px;
        margin-bottom: 40px;
    }

    .trip-header {
    padding-top: 02rem;
    padding-bottom: 02rem;
    margin-top: 50px;
}

    #formbtn {
        text-align: center;
    }

    .dest-btn {
        color: #ffffff;
      background-color: #2196F3;
      padding: 05px 13px !important;
      font-size: 10px !important;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      border: none;

    }

    .top-all {
        padding: 0 10px !important;
    }

    .footer-logo {
        text-align: center;
        
    }

    .logo-footer {
        width: 100px;
        margin-top: 20px;
    }

    .footer-heading {
        font-size: 20px;
    }
    .footer-text {
        text-align: center;
        padding-top: 20px;
    }

    .footer-input {
        margin-left: 0px;
    }

    .footer-container {
        padding-top: 0px;
    }

   .form-control-lg {
    width: 18rem; 
    }
    
    .foot {
        padding-top: 0px;
    }
}

@media(max-width:444px){
    .choose-trip {
        border: 1px solid #ffffff;
        height: 30rem;
        width: 19rem;
        margin-left: 10px;
        margin-top: 04rem;
        background-color: #ffffff;
        align-content: center;
      }

      .form-control-lg{
        width: 08rem; 
        font-size: 20px;
    }

    .footer-input {
        border: 1px solid#2196F3;
        padding: 11px 20px;
        color: #ffffff;
        background-color: #2196F3;
    }

   
    /* .container{
        width:400px;
    } */
}

@media(max-width:411px){
    .form-btn {
        padding: 6px 40px;
    }
}



@media(max-width:360px){
    .form-btn {
        padding: 6px 40px;
    }
}

@media (max-width: 768px) {
    .form-btn-2 {
        padding: 05px 98px !important;
}
}




/* @media (min-width: 576px) {
     .hero{
      padding-top: 4rem;
      padding-right: 10rem;
      padding-bottom: 4rem;
      padding-left: 10rem;
      width: 75rem;
      height: 180vh;
     }

     .choose-trip {
      border: 1px solid #ffffff;
      height: 06rem;
      width: 60rem;
      margin-left: -1rem;
      margin-top: 6rem;
      
    }


} */
/* 
pass queries for css */
