@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
html,
body {
  
    font-family: 'Ubuntu'!important;
    overflow-x: hidden;
    
  }
  .navbar{
      display:flex;
      position: absolute;
    height: 100px;
    background: #FFFFFF;
    top: -9px;  
 
  }
  .stages{
    position: absolute;
    top:85px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
}
.stages p strong{
padding-right:20px;
}
.nav-item{
    padding:15px;
    position: relative;
    /* left:10px; */
}
.dropdown{
    position:absolute;
    top:10px;
}
.row{
    background: #EAEAF5;
    height:520px;
    width:1380px;
    position: relative;
    top:-15px;
}
h3{
    font-size: 32px;
line-height: 37px;
display: flex;
align-items: center;
position: absolute;
left: calc(53% - 111px/2 + 0.5px);
top: 80px;
}
.content{
    position: absolute;
width: 380px;
height: 303px;
left: 530px;
top: 143px;
background: #FFFFFF;
border-radius: 4px;

}
.date{
    color: #52616B;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top:10px;
}
#one{
    position:relative;
    left:30px;
}
#two{
    position:relative;
    left:-40px;
}
#three{
    position:relative;
    right:-270px;
    bottom: 40px;
}
.place{
    font-weight: bold;
font-size: 18px;
position:relative;
left:30px;
color:#52616B;
}
.time{
    display:flex;
}
.time-logo{
    font-size: 18px;
    position:relative;
    left:30px;
}
.change{
    position:relative;
    left:170px;
    font-size: 12px;
    text-decoration-line: underline;
    color: #518EF8;
}
.seat, .adult{
    font-size: 14px;
    position:relative;
    left:30px;
}
.adult {
    display: flex;
}

.pass3 {
    margin-left: 05px;
}

.border{
    width:320px;
}
.total{
    display:flex;
    font-size: 20px;
    color:#52616B;
    justify-content: space-between;
    font-weight: bold;
}
.total1{
    position:relative;
    left:30px;
}
.total2{
    position:relative;
    left: -120px;
}
.submit{
    position:relative;
    top:480px;
    left:515px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
border-radius: 4px;
width:380px;
background: #2196F3 !important;
}

@media(max-width:1024px){
    .row{
        left:-150px;
    }
}

@media(max-width:768px){
    .row{
        left:-300px;
    }
}

@media(max-width:425px){
    .row{
        left:-490px;
    }
}

@media(max-width:375px){
    .row{
        left:-520px;
    }
}
@media(max-width:320px){
    .row{
        left:-520px;
    }
     .content{
       width:320px;
     
    }
    .change{
        left:110px;
    }
}